
<section class="righe-section">
  <h3>Riepilogo su materiale inserito: </h3>
  <div *ngIf="selectedMateriale">
    <p>ID: {{ materialId }}</p>
    <p>Data: {{ selectedMateriale.Data_Registrazione | date}}</p>
    <p>Cantiere: {{ selectedMateriale.Cantiere}}</p>
    <p>Articolo: {{ selectedMateriale.Articolo}}</p>
    <p>UM: {{ selectedMateriale.Unita_Misura}}</p>
    <p>Quantita: {{ selectedMateriale.Quantita}}</p>
    <p>Fornitore: {{ selectedMateriale.Fornitore}}</p>
    <p>Numero bolla: {{ selectedMateriale.Numero_Bolla}}</p>
    <p>Note: {{ selectedMateriale.Note}}</p>
  </div>
    <div class="d-flex justify-content-between mt-4">
      <button type="submit" class="btn btn-primary" (click)="salvaCambiamenti()">Salva</button>
      <button type="button" class="btn btn-primary" (click)="paginaSuccessiva()">Avanti</button>
    </div>
  
  
  </section>
  

  
  