<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Materiali</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/data">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Products" routerLink="/righe">Righe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Promotions" routerLink="/materiali">Materiali</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" title="Fidelity" routerLink="/dettaglio/id">Dettaglio</a>
        </li>
      </ul>

      <form class="d-flex" (ngSubmit)="searchSubmit()">
        <input class="form-control me-2" type="search" placeholder="Cerca materiale con id" [(ngModel)]="query" name="searchQuery">
        <button class="btn btn-outline-success" type="submit" >Search</button>
      </form>
    </div>
  </div>
</nav>


